.Menu {
  width: 100vw;
  background: black;
  color: white;
}

.Nav {
  width: 50%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Nav p {
  cursor: pointer;
}

.Content {
  width: 90%;
  padding: 0 7%;
}